body {
  background: #F8F8F8;
}

.container-fluid {
  margin: 5% 0;
}

.three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid #ddd;
  margin: 0 5%;
}

.three .first :hover {
  color: #009EA7;
}

.three .first p {
  font: 20px Poppins;
  padding-top: 30px;
}

.result_span {
  background-color: rgba(221, 221, 221, 0.615);
  border: none;
  width: 100px;
  height: 20px;
}

table {
  margin-top: 40px;
}

table thead th {
  padding: 10px 50px;
  border-bottom: 2px solid rgba(11, 3, 114, 0.404);
  font: 15px Poppins;
  text-transform: uppercase;
}

table tbody td {
  padding: 15px 50px;
  border-bottom: 1px solid #ddd;
}

table tbody td .flag {
  width: 30px;
  height: 17px;
  margin-right: 10px;
}

table tbody tr:hover {
  background-color: #009EA7;
  color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

a :hover {
  color: #2b33a8;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex .secondPart input {
  padding: 5px;
  margin: 5px;
  outline: none;
}

.flex .secondPart .cash {
  padding: 6px;
  margin: 5px;
}

.flex .secondPart .cash select {
  padding: 5px;
  background-color: rgba(27, 27, 133, 0.657);
}

.flex .secondPart .cash select:hover {
  background-color: #000000;
}

.flex .secondPart .firstFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex .secondPart .firstFlex img {
  height: 50px;
  width: 50px;
}

.flex .secondPart .calculator {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
}

.flex .secondPart .calculator .calculate {
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
}

.calendar {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
}

.calendar .month {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 8px;
  border-radius: 3px;
}

.calendar .year {
  width: 100%;
  padding: 5px 8px;
  border-radius: 3px;
}

.calendar .table tr:hover {
  background-color: none;
  border-bottom: none;
}

.calendar .table td:hover {
  background-color: #009EA7;
}
/*# sourceMappingURL=style.css.map */