$fontheading:26px Montserrat;
$fontTableDivs:20px Montserrat;
@mixin flex{
    display: flex;
     align-items: center;
    justify-content: space-evenly;
}

body{
    background:#F8F8F8;
}
.container-fluid{
    margin:5% 0;
}
.three{
    @include flex();
    border-bottom:1px solid #ddd;
    margin:0 5%;
    .first {
    
      :hover{
        color:#009EA7;
    }
        p{
        font:20px Poppins;
        padding-top:30px;
      
        }
    }
   
    
}
table{
   margin-top:40px;
    thead{
        
        th{
          padding:10px 50px;
          border-bottom: 2px solid rgba(11, 3, 114, 0.404);
          font:15px Poppins;
          text-transform: uppercase;
        }
        }
        tbody{
            td{
                padding:15px 50px;  
                border-bottom: 1px solid #ddd;
               
               .flag{
                  width:30px;
                  height:17px;
                  margin-right:10px; 
               } 
            }
           tr:hover{
                background-color:#009EA7;
                color:#fff;
            
           }
            
        }
}
a{
    text-decoration: none;
    color:black;
    :hover{color:rgb(43, 51, 168);}
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    .secondPart{
        input{
            padding:5px;
            margin:5px;
            outline: none;
        }
     
        .cash{
            padding:6px;
            select{
                padding:5px;
                background-color: rgba(27, 27, 133, 0.657);
            }
            select:hover{
                background-color:#000000;
            }
        }
        
        
    .firstFlex{
       display:flex;
       align-items: center;
       justify-content: space-between;
        img{
            height: 50px;
            width: 50px;
        }
    }
    .calculator{
        background-color: #fff;
        border-radius: 5px;
        padding:20px 20px 20px 20px;
        margin-top:50px;
        .calculate{
            border:none;
            padding:5px 8px;
            border-radius:3px;
        }
    }
}
}
.calendar{
    background-color: #fff;
        border-radius: 5px;
        padding:20px 20px 20px 20px;
        margin-top:50px;
        .month{
            width: 100%;
            margin-bottom:10px;
            padding:5px 8px;
            border-radius:3px;
        }
        .year{
            width:100%;
            
            padding:5px 8px;
            border-radius:3px;
        }
        .table{
 
            tr:hover{
                background-color:none;
                border-bottom: none;;
            }
            td:hover{
                background-color:#009EA7;
            }
        }
}

